$dark-color: #073B3A;
$active-color: #33CA7F;
$light-color: #F6F4F3;

body.wrapper {
    font-family: "Calibri", sans-serif;
    border-top: 5px solid $dark-color;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
}

body.wrapper > .wrapper-content {
    flex-grow: 1;
    overflow:hidden;
    padding-bottom: 2em;
}
/*
body.wrapper > .wrapper-content a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px dashed;
}
body.wrapper > .wrapper-content a:hover {
    border-color: $active-color;
    color: $active-color;
}*/

